.sidebar {
  width: 15%;
  min-width: 200px;
  height: 100%;
  background: rgba(252, 246, 249, 0.78);
  border: 3px solid #ffffff;
  backdrop-filter: blur(4.5px);
  border-radius: 32px;
  overflow-x: hidden;
}
.sidebar-list {
  display: flex;
  gap: 1rem;
  text-decoration: none;
  color: var(--primary-color2);
  margin-bottom: 1rem;
  padding: .2rem .7rem;
}
ul {
  margin: 1rem;
}
